.cat-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex: 1;
    text-align: center;
    height: 70vh;
    position: relative;
}

.ci-image {
    width: 55%;
    margin: 10px;
}

.ci-button {
    border: 2px solid darkgrey;
    padding: 10px;
    color: black;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;

}

.ci-info {
    width: 100%;
    height: 100%;
}

.ci-title {
    font-family: 'Amatic SC', cursive;
}

