.c-container {
    color: black;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    display: flex;
    position: relative;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"),
    center;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-style: 60px;
    width: 80%;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-top: 16%;
}

.c-desc {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    margin-top: 3%;
    text-align: center;
}

.contact-input {
    margin: 10px 0px;
    background-color: white;
    color:rgb(0, 12, 22);
    border-radius: 5px;
    width: 60%;
    height: 45px;
    border: none;
    border-bottom: 1px solid #61dafb;
    font-size: 14px;
    font-weight: bold;
}

textarea {
    margin: 10px 0px;
    width: 60%;
    height: 135px;
    background-color: white;
    color: rgb(0, 12, 22);
    border-radius: 5px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #61dafb;
    font-weight: bold;
}

.c-button {
    border: none;
    margin-top: 15px;
    padding: 15px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px #999;
}

.c-button:active{
    box-shadow: 0 0px #999;
}

.thanks {
    margin-top: 15px;
    font-weight: bold;
}

@media screen and (max-width: 480px){
    .c-wrapper {
        flex-direction: column;
    }

    .c-left {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .c-desc {
        margin: 5%;
    }

    .c-icon {
        padding: 13px;
    }
}