* {
    margin: 0;
}

.footer-col-sm {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.contact-link {
  text-decoration: none;
  color: black;
  font-family: 'Amatic SC', cursive;
}

