.loc-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: baseline;

}

.li-image {
    border-radius: 3px;
    width: 350px;
    margin: 10px;
}

.li-button {
    border: 1px solid darkgrey;
    padding: 10px;
    color: gray;
    cursor: point;
    font-weight: 600;
}

.li-info {
    width: 100%;
    height: 100%;
}

.li-title {
    margin-top: 10px;
}

.li-button {
    cursor: pointer;
    margin-bottom: 15px;
}