.navbar-container {
    height: 90px;
    background-color:rgb(194, 230, 230);
}

.navbar-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 1;
    text-align: center;
    
}

.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-search-container {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
    cursor: pointer;
}

.navbar-input {
    border: none;
}

.logo {
    font-weight: 100;
    font-size: 50px;
    font-family: 'Monoton', cursive;
    letter-spacing: 3px; 
    margin-bottom: 10px; 
}

.navbar-item {
    font-size: 28px;
    cursor: pointer;
    margin-left: 25px;
    text-decoration: none;
    color: black;
    /* font-family: 'Monoton', cursive; */
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

