.main-container {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.name-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pay-button {
    padding: 20px;
    font-weight: 600;
    font-size: large;
    border-radius: 25px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 9px #999;
    color: azure;
    cursor: pointer;
}

.pay-button:active{
    box-shadow: 0 3px #999;
}

