.container {
    width: 100vw;
    height: 50vw;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/7621778/pexels-photo-7621778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"),
    center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.signin-title {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column ;
}

.form input {
    border-radius: 5px; 
    width: 93%;
}

.input {
    flex: 1;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}
.input:hover {
    border-color: rgb(243, 210, 214);
    background-color: rgb(243, 210, 214);
}

.login-button {
    height: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(133, 133, 133);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 97%;
}

.link {
    margin: 10px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(243, 210, 214);
}