.p-container {
    position: relative;
    flex: 1;
    margin: 25px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.p-info{
    display: flex;
}
.p-image {
    flex-grow: 0;
    /* max-width: 100%; */
    height: auto;
    border-radius: 10px;
    width: 365px;
    height: 248.52px; 
    justify-content: space-evenly;
}

.p-text {
    letter-spacing: 1px;
}

.p-icons {
    right: 20px;
    text-decoration: none;
}

.p-title {
    margin-bottom: 10px; 
}