.success-container {
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.success-image {
    position: absolute;
    height: 60%;
    z-index: -1;
    top: 0;
}



h4 {
    padding: 30px;
}

.btn-back-button input {
    position: relative;
    width: 200px; 
    height: 50px; 
    top: 50%;
    border-radius: 8px;
    background: teal;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 5px 5px 3px 5px #BFCEEF 
}

